<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="org.jadhav.model.Alien" lazy-init="true" autowire="byType">
        <property name="age" value="25"/>
    </bean>

    <bean id="lap" class="org.jadhav.model.Laptop" lazy-init="true" primary="true"/>
    <bean id="desk" class="org.jadhav.model.Desktop" lazy-init="true"/>


</beans>